DATABASE_TYPE=mongodb
DATABASE_HOST=localhost
DATABASE_PORT=27017
DATABASE_NAME=chat_db
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_AUTH_SOURCE=
DATABASE_URI=mongodb://localhost:27017/chat-app

REDIS_HOST=127.0.0.1
REDIS_PORT=6380

JWT_SECRET=supersecret